body{
    font-family: 'Poppins', sans-serif;
}
*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    display: flex;
}
a{
    text-decoration: none;
}
header{

    background-color: #f6f6f6;
    padding: 22px 0;
}

.header-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-container a{
    color: #000;
    font-size: 16px;
    margin-right: 63px;
    padding: 27px 6px;
}
.header-container a:hover{
    background-color: #ffea00;
}

#menu-checkbox{
    display: none;
}

ul{
    display: flex;
}

nav{
   margin-top: 20px; 
}

.top-slide{
    
    background: url(./../images/slider_bg.jpg) no-repeat;
    background-size: 100%;
    padding-top: 120px;
    padding-bottom: 280px;
    margin-bottom: 100px;
}

.top-container{
    width: 85%;
    margin: 0 auto;
}

.top-slide h2{
    background: #ffea00;
    display: inline;
    font-size: 70px;
    padding: 0 13px;
}

.top-slide :nth-child(2){
    margin-bottom: 10px;
}

.top-slide p{
    font-size: 24px;
    display: inline;
    background: #414146; 
    padding: 0 4px;
    color: #f6f6f6;
}

.specialize-container{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.specialize-container h3{
    font-size: 35px;
}

.specialize-container p{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 24px;
}

.first-p{
    font-size: 20px;
    color: #f6f6f6;
}

.top-card{
    background-color: #ffea00;
    height: 218px;
}

.top-card p{
    position: relative;
}

.c1{
    top: -20px;
}

.c2{
    top: -10px;
}

.c3{
    top: -31px;
}

.bottom-card{
    background-color: #414146;
    position: relative;
    top: -30px;
}

.specialize-cards{
    display: flex;
    justify-content: space-between;
}

.card{
    width: 250px;
}
.card_item{
    padding-top: 60px;
}

.portfolio{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.portfolio h4{
    background-color: #424147;
    color: #f5e10a;
    padding: 0 8px;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 30px;
}

.portfolio p{
    color: #424146;
    font-size: 16px;
}

.toggles button{
    border: none;
    color: #424146;
    cursor: pointer;
    font-size: 16px;
    margin: 20px 5px;
}
.toggles button:after{
    content: ' / ';
}
.toggles button:last-child:after{
    content: '';
}

.works{
    width: 90%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: auto auto auto auto;
}

.brand{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.brand h4{
    margin-top: 40px;
    background-color: #424147;
    color: #f5e10a;
    padding: 0 8px;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 30px;
}

.brand p{
    margin-bottom: 30px;
    color: #424146;
    font-size: 16px;
}

.partners{
    width: 90%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: auto auto auto auto;
}

.footer-container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 30% 20%;
    grid-column-gap: 3%;
}
footer{
    color: #f6f6f6;
    background-color: #414146;
    padding: 30px 0;
}
footer h4{
    font-size: 18px; 
}

.about-us a{
    margin-top: 30px;
    margin-bottom: 40px;
    display: inline-block;
    background-color: #000;
    color: #f6f6f6;
    font-size: 15px;
    padding: 15px;
    border-bottom: 2px solid #ffea00; 
}

.images{
    max-width: 390px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.lasttweets p{
    margin-top: 20px;
}
.lasttweets img{
    margin-bottom: -5px;
    margin-right: 20px;
}

.lasttweets p a{
    color: #ffea00;
}
.icons{
    margin-top: 10px;
}
.icons a{
    margin-top: 5px;
    display: inline-block;
}
.contacts p{
    margin-bottom: 20px;
}

.contacts a{
    margin-left: 10px;
    color: #f6f6f6;
} 
.contacts img{
    margin-bottom: -10px;
}















@media screen and ( max-width: 420px){
    .header-container{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .main-menu{
        display: none;
    }
    .main-menu li{
        width: 100%;
        display: block;
        font-size: 12px;
    }
    .main-menu a{
        display: block;
        padding: 8px;
    }
    .toggle-button{
        text-align: center;
        display: block;
        cursor: pointer;
        color: #000;
    }

    .toggle-button:after{
        content: attr(data-open);
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .main-menu{
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .toggle-button:after{
        content: attr(data-close);
    }
    .header-container a{
    margin-right: -90px;
    text-align: right;
    }
    .main-menu{
        position: relative;
        top: 30px;
        right: 80px;
    }

    

    .top-slide{
        background-size: auto;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .top-slide h2{
        font-size: 32px;
    }
    .top-slide p{
        font-size: 16px;
    }

    .specialize-container p{
        font-size: 16px;
    }
    .specialize-cards{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .bottom-card{
        width: 250px;
        margin: 0 auto;
    }

    .portfolio{
        margin: 0;
    }

    .works{
        grid-template-columns: auto;
    }
    .partners{
        grid-template-columns: auto auto;
    }

    .footer-container{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto;
        grid-column-gap: 3%;
    }

    .images{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
    }
    .images img{
        margin: 0 auto;
    }
    .footer-headline{
        margin-top: 40px;
    }
}

